html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-grid{
    display:grid;
    grid-template-columns: 320px minmax(200px, 1fr);
    gap: 10px 1px;
    align-items:center;
}
.form-grid h3{grid-column: 1/ -1; margin: 16px 0 4px;}

.form-grid input,
.form-grid textarea,
.form-grid select {
    width: 100%;
}

.form-actions{grid-column: 1 / -1; display:flex; gap:8px;}

.remove-skill-btn,
.remove-resp-btn{
    margin-top:4px;
    margin-bottom:10px;
}
