<h1>Welcome to my portfolio.</h1>
<p>Find below links to some of my projects</p>
<p>My CV:</p>
<a asp-controller="CV" asp-action="Index">View CV</a>
<p>Tax Calculator:</p>
<a asp-controller="Tax" asp-action="Index">View Tax Calculator</a>
<p>Gallery</p>
<a asp-controller="Gallery" asp-action="Index">View Gallery</a>
<p>Contact me:</p>